body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--color-light-6);
}


h2 {
    font-size: 38px;
    color: var(--color-teal-4);
}

.hero {
    &__headline {
        font-size: 46px;
        line-height: 60px;
        color: var( --color-light-6);
        font-weight: 700;
        text-align: center;
        &--highlight {
            background: linear-gradient(148deg, rgba(58,107,112,1) 0%, rgba(80,114,58,1) 100%);
            padding: 4px 10px;
            border-radius: 10px;
        }
    }
    &__subheadline {
        font-size: 28px;
        line-height: 30px;
        color: var( --color-light-6);
        text-align: center;
        margin-top: 10px;
    }
}

.header {
    min-height: 80vh;
    width: 100%;
    background-image: url("../../assets/header-image-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.content-wrapper {
    width: min(980px, 100%);
    margin: 0 auto;
}

.sponsors {
    padding: 6px 16px;
}