body {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-orange: #FBB265;
    --color-teal-1: #0E3D45;
    --color-teal-2: #3A6B72;
    --color-teal-3: #206976;
    --color-teal-4: #1E7786;
    --color-teal-5: #2DAED5;
    --color-brown-1: #5D5D5D;
    --color-brown-2: #613D44;
    --color-brown-3: #855E4F;
    --color-green-1: #50723A;
    --color-green-2: #0EAC51;
    --color-green-3: #1EBC61;
    --color-green-4: #94D098;
    --color-green-5: #7FAC92;
    --color-green-6: #9CBAA9;
    --color-light-1: #BCC9C2;
    --color-light-2: #BDE5BD;
    --color-light-3: #C6DBCF;
    --color-light-4: #DCEAE3;
    --color-light-5: #FBFBFB;
    --color-light-6: #F9F9F9;
}